#about{
    padding: 80px 0;
    color:#ababab;
}
.container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 60px;
    width: 100%;
    padding: 80px 10%;
    flex-wrap: wrap;
}
/* columns */
.column-1, .column-2 {
    flex: 1;
}
/* image */
.column-1 img {
    width: 100%;
    max-width: 400px;
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    flex-basis: 40%;
}
.column-2{
    line-height: 1.5;
    flex-basis: 40%;
}
.column-2 h1{
    font-size:40px;
    font-weight: 550;
}
.column-2 h4{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.column-2 h4 span{
    color:#ff004f
}
/* .info{
    margin-top:50px;
}
.info-box{
    background:#ff004f;
    color:white;
    display: flex;
    padding: 10px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.info-box h1{
    margin-top: 3px;
    font-size:50px;
}
.info-box p{
    margin:25px 20px;
    font-size: 20px;

} */
